:root {
  --clock: rgb(54, 54, 54);
  --numbers: #707070;
  --hand-second: rgb(206, 127, 24);
  --hand-minute: #b8b8b8;
  --hand-hour: #b8b8b8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
  background-color: var(--clock);
}

.clock {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: var(--clock);
  box-shadow: 1px 1px 2px 2px rgba(163, 163, 163, 0.05),
    -1px 1px 2px 2px rgba(163, 163, 163, 0.05),
    1px -1px 2px 2px rgba(163, 163, 163, 0.05),
    -1px -1px 2px 2px rgba(163, 163, 163, 0.05),
    inset -2px -2px 12px 2px rgba(90, 88, 88, 0.15),
    inset 2px 2px 12px 2px rgba(90, 88, 88, 0.15),
    inset 2px -2px 12px 2px rgba(90, 88, 88, 0.15),
    inset -2px 2px 12px 2px rgba(90, 88, 88, 0.15);
  /* border: 3px solid #393838; */
}
